<!DOCTYPE HTML>  													
<html lang="fr">

    </head>
    <title>TP Flickr infos photo</title>
    <link rel="stylesheet" href="{{asset('bundles/waflickr/css/flickr.css')}}"> 
    <meta charset="utf-8">	

    <body>
    	<div class="photo_view">
			<p class="photo_view_titre"> {{titre}}</p>
			<img class="photo_view_image" src="{{image}}" title="toto" alt="toto"/>
			<p class="photo_view_description"> {{description|raw}}</p> 
		</div>
 

            <a class="favoris" href="
                            {{  path('wa_flickr_favoris_flickr', 
                                {
                                    'farm'  : farm,
                                    'id'    : id,
                                    'server': server,
                                    'secret': secret
                                }) 
                            }}">Ajouter aux favoris</a>


    </body>

</html>



